
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);

  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
