.about-author {
  padding-bottom: 90px;
  &__grid {
    display: flex;
    gap: 30px;
  }
  &__text {
    text-align: left;
    max-width: 570px;
    & p {
      margin-bottom: 15px;
    }
    b {
      font-weight: 400;
    }
  }
  &__wrapper-btn {
    margin-top: 33px;
  }
  &__image {
    max-width: 282px;
    margin: 0 50px 0 auto;
    & img {
      border-radius: 30px;
    }
  }
}

@media (max-width: 992px) {
  .about-author {
    &__image {
      flex-shrink: 0.2;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .about-author {
    padding-bottom: 15px;
    &__grid {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
