.button {
  width: fit-content;
  border-radius: 30px;
  background-color: var(--bg-button);
  color: var(--bg-light);
  font-weight: 400;
  padding: 18px 40px;
  transition: ease-in 0.2s;
  &--link {
    border-radius: 30px;
    outline: var(--border);
    background-color: var(--bg-light);
    color: var(--font-color-title);
    padding: 14px 36px;
  }
  &:hover {
    background-color: var(--bg-button-hover);
  }
}
a.button {
  display: inline-block;
  &:hover {
    color: var(--bg-light);
    outline: none;
  }
}

@media (max-width:768px) {
  .button{
    padding: 15px 30px;
    &--link {
      padding: 11px 26px;
    }
  }
}