.free-materials {
  position: relative;
  text-align: center;
  margin-bottom: 90px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: var(--bg-round-width);
    height: var(--bg-round-height);
    max-width: 1087px;
    max-height: 831px;
    border-radius: 50%;
    background-color: #b7d2e2;
    z-index: -10;
  }
  &::before {
    right: 50%;
    top: -5%;
  }
  &::after {
    left: 50%;
    bottom: -10%;
  }
  &__container {
    border-radius: 30px;
    border: var(--border);
    background-color: var(--bg-light);
    padding: 75px 60px 0 60px;
  }
  &__title {
    margin-bottom: 23px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  &__image {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .free-materials {
    &__container {
      padding: 40px 20px;
    }
    &__grid{
      margin-bottom: 50px;
    }
  }
}
