.free-materials {
  position: relative;
  text-align: center;
  margin-bottom: 90px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1087px;
    height: 831px;
    //width: calc(var(--index) - calc(1087/0.322px) );
    //(1440 + 852) - (1087/0.322)
    height: 831px;
    height: calc(var(--index) * 0.831px);
    border-radius: 50%;
    background-color: #b7d2e2;
    z-index: -10;
  }
  &::before {
    left: -328px;
    //transform: translateX(-328px);
    top: -159px;
  }
  &::after {
    right: -300px;
    bottom: -400px;
    // transform: translateX(-300px);
  }
  &__container {
    border-radius: 30px;
    border: var(--border);
    background-color: var(--bg-light);
    padding: 75px 60px 0 60px;
  }
  &__title {
    margin-bottom: 23px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  &__image {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .free-materials {
    &__container {
      padding: 40px 20px;
    }
    &__grid{
      margin-bottom: 50px;
    }
  }
}
