.more-details-planer {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1087px;
    height: 831px;
    border-radius: 50%;
    background-color: #b7d2e2;
    z-index: -10;
  }
  &::before {
    left: -328px;
    top: -59px;
  }
  &::after {
    right: -300px;
    bottom: -300px;
    //transform: translateX(300px);
  }
  &__container {
    padding: 76px 54px 46px 60px;
    border-radius: 30px;
    border: var(--border);
    background: var(--bg-light);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: -115px;
      top: calc(50% - 25px);
      transform: translateY(-50%) rotate(32.42deg);
      width: 180px;
      height: 228px;
      background-image: url(../img/planer.png);
    }
  }
  &__row {
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title {
    text-align: center;
  }
  &__list-text {
    max-width: 600px;
  }
  &__list-text b {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 18px;
    display: block;
  }
  &__list-text b:last-of-type {
    margin-bottom: 33px;
    display: block;
  }
  &__list-text li {
    padding-left: 30px;
    margin-bottom: 5px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: var(--bg-button);
      top: 9px;
      left: 0;
    }
  }
  &__list-text--check li {
    &::after {
      content: url(../img/check.svg);
      background-color: transparent;
      top: 0;
    }
  }
  &__list-text--check ul {
    margin-bottom: 24px;
  }
  &__footnote {
    max-width: 386px;
    font-size: 14px;
  }
  &__image {
    flex-shrink: 0.2;
    max-width: 270px;
    & img {
      border-radius: 30px;
    }
  }
}

@media (max-width: 768px) {
  .more-details-planer {
    &__container {
      padding: 40px 20px;
      &::after{
        content: none;
      }
    }
    &__row {
      margin-bottom: 40px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
