<header class="header">
	<button class="mobile-nav-btn">
		<span class="nav-icon"></span>
	</button>
	<div class="container header__container">
		<nav class="nav header__nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#more-details-planer" class="nav__link">О планере</a>
				</li>
				<li class="nav__item">
					<a href="#more-details-planer" class="nav__link">Купить</a>
				</li>
				<li class="nav__item">
					<a href="#free-materials" class="nav__link">Бесплатные материалы</a>
				</li>
				<li class="nav__item">
					<a href="#about-author" class="nav__link">Об авторе</a>
				</li>
			</ul>
		</nav>

		<div class="header__grid">
			<div class="header__descr">
				<span class="header__title-smoll">Mom’s</span>
				<div class="header__name">Book and Planner</div>
				<h1 class="header__title">Планер для мам и будущих мам</h1>
				<button class="button header__button" type="button">
					Оформить предзаказ
				</button>
				<a
					href="#more-details-planer"
					class="button header__button button--link"
					>Прочитать подробнее</a
				>
			</div>
			<div class="header__image">
				<picture>
					<source srcset="./img/book-and-planer.webp" type="image/webp" />
					<img
						loading="lazy"
						src="./img/book-and-planer.jpg"
						class="image"
						width="350"
						height="350"
						alt="Визуальное представление книги и планера"
					/>
				</picture>
			</div>
		</div>
		<div class="header__row">
			<div class="header__author-img">
				<picture>
					<source srcset="./img/author-1.webp" type="image/webp" />
					<img
						loading="lazy"
						src="./img/author-1.png"
						class="image"
						width="310"
						height="383"
						alt="Автор продукта"
					/>
				</picture>
			</div>
			<div class="header__text">
				<p>
					Тайм-менеджмент для всех и тайм-менеджмент для мам 2 разные вещи! Я
					желаю счастья каждой девушке. Любите, цените себя, развивайтесь ,
					мечтайте вместе с ребенком.
				</p>
				<p>
					Благодаря книге-планеру каждая из Вас откроет в себе энергию, которая
					дана в материнстве, с помощью лёгкого планирования личного времени и
					организации дня ребёнка. Узнайте информацию из планера до рождения
					малыша, чтобы успеть подготовиться заранее!
				</p>
				<span>Елизавета Андреевна Щочкина</span>
			</div>
		</div>
	</div>
</header>
